# D365 Finance & Operations
D365_BASE_URL=https://pgb-uat.sandbox.operations.eu.dynamics.com
D365_TENANT_ID=your-tenant-id
D365_CLIENT_ID=your-app-registration-client-id
D365_CLIENT_SECRET=your-client-secret

# Usually the same as D365_BASE_URL for F&O
D365_RESOURCE=https://pgb-uat.sandbox.operations.eu.dynamics.com

PORT=3000
